<html>
    <head>
        <title>Create Folder</title>
    </head>
    <body>
        <form action="create" method="POST">
            <label for="foldername">Folder Name</label>
            <input type="text" id="foldername" name="foldername" placeholder="Folder Name" required>
            <button>Create</button>
        </form>
    </body>
</html>