<html>
    <head>
        <Title>Home
        </Title>
    </head>
    <body>
        <% if(locals.user) {%>
            <h1>Welcome back <%= user.username %></h1>
            <% } %>
        <form action="user/register" method="POST">
            <button>Test Register</button>
        </form>
        <a href="/user/register">Register</a>
        <% if (!locals.user) {%> 
        <a href="/user/login">Log In</a>
        <% } %>
        <% if(locals.user) {%>
        <a href="/user/log-out">Log out</a>
        <a href="/file/Upload">Upload File</a>
        <a href="/folder/create/<%= user.id %>">Create Folder</a>
        <a href="/folder">View Folders</a>
        <% } %>
       
    </body>
</html>