<html>
    <head>
        <Title>Home
        </Title>
    </head>
    <body>
        <form action="user/register" method="POST">
            <button>Test Register</button>
        </form>
        <!-- <a href="/user/register">Test Register</a> -->
    </body>
</html>