<html>
    <head>
        <Title>Upload Fail</Title>
    </head>
    <body>
        <h1>Upload fail</h1>
        <a href="/file/Upload">Try Again</a>
        <a href="/">Go Home</a>
    </body>
</html>